@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.main-page{
    background: #222831;
    border: 1px solid rgba(238, 238, 238, 0.1);

}
.navbar{
    border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}

.navlogo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 48px 96px;
    gap: 10px;
}
.nav-logo{
    width: 109px;
    height: 36px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #EEEEEE;
}
.nav-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 48px;
    padding: 48px 96px;
    gap: 48px;
}
.navtext{
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #EEEEEE;
    text-decoration:none;
}
.creative-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #EEEEEE;
    margin-bottom: 0px;
    margin-left: 100px;
}
.creative-text2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #00ADB5;
    margin-left: 100px;
}
.creativetext{
   padding-top: 150px;
}
.img1st{
    width: 400px;
    height: 472.65px;
    left: 888px;
    top: 249px;
    margin-top: 85px;
}
.button-1st{
    margin-left: 100px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #EEEEEE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.img2nd{
    margin-top: 20px;
    padding-left: 250px;
    padding-bottom: 50px;
}
.second-page-text{
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 80px;
}
.about-me-header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #EEEEEE;
}
.about-me-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(238, 238, 238, 0.75);
}
.doodle-img{
    width: 665.33px;
    height: 499px;
}
.background-img{
    background-image: url(../assets/doodle\ items.png);
    height: auto;
    background-repeat: repeat;
    background-size: 500px 400px;
}
.third-page-content{
    Width: 1200px;
    Height: auto;
    padding-top: 268px;
    padding-left: 120px;
    padding-bottom: 268px;
}
.third-page-header{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 20px;
}
.third-page-1st-header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #EEEEEE;
    padding-left: 120px;
}
.third-page-2nd-header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #00ADB5;
}
.third-page-button{
    padding-left: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
}
.third-page-button-size{
    padding-left: 20px !important ; 
    padding-right: 20px !important ; 
}
.third-page-image{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 48px;
    padding-left: 120px;
}
.third-page-image-item{
    width: 368px;
    height: 280px;
    background: rgba(57, 62, 70, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 16px;
}


/* media query */
@media (max-width:320px){
    .third-page-1st-header{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 100;
        font-size: 14px;
        line-height: 26px;
        color: #EEEEEE;
        padding-left: 20px;
    }
    .third-page-2nd-header{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 100;
        font-size: 14px;
        line-height: 26px;
        color: #00ADB5;
    }
}
@media (min-width:321px) and (max-width:418px){
    .third-page-1st-header{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200;
        font-size: 24px;
        line-height: 26px;
        color: #EEEEEE;
        padding-left: 35px;
    }
    .third-page-2nd-header{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200;
        font-size: 24px;
        line-height: 26px;
        color: #00ADB5;
    }
}
@media (min-width:419px) and (max-width:768px){
    .third-page-1st-header{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 46px;
        color: #EEEEEE;
        padding-left: 55px;
    }
    .third-page-2nd-header{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 46px;
        color: #00ADB5;
    }
}
@media (min-width:769px) and (max-width:1024px){
    .third-page-1st-header{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 550;
        font-size: 54px;
        line-height: 76px;
        color: #EEEEEE;
        padding-left: 90px;
    }
    .third-page-2nd-header{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 550;
        font-size: 54px;
        line-height: 76px;
        color: #00ADB5;
    }
}







